@model EScouting.Models.SummonerViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var countMid = 0;
    var countTop = 0;
    var countAdc = 0;
    var countSupport = 0;
    var countJungler = 0;
    foreach (var match in Model.Matches.matches)
    {
        if (match.lane == "BOTTOM")
        {
            if (match.role == "DUO_SUPPORT")
            {
                countSupport++;
            }
            if (match.role == "DUO_CARRY")
            {
                countAdc++;
            }
        }
        else if (match.role == "DUO_SUPPORT")
        {
            countSupport++;
        }
        else if (match.role == "DUO_CARRY")
        {
            countAdc++;
        }
        else if (match.lane == "MID")
        {
            countMid++;
        }
        else if (match.lane == "TOP")
        {
            countTop++;
        }
        else if (match.lane == "Jungle")
        {
            countJungler++;
        }
    }
    List<int> list= new List<int>() { countAdc, countSupport, countJungler, countMid, countTop };
    var max = list.Max();
    var role = "";
    if (max == countAdc)
    {
        role = "Adc";
    }
    else if (max == countSupport)
    {
        role = "Support";
    }
    else if (max == countMid)
    {
        role = "Mid";
    }
    else if (max == countTop)
    {
        role = "Top";
    }
    else if (max == countJungler)
    {
        role = "Jungler";
    }
    else
    {
        role = "Unknown Role";
    }
}

<h2>account id: @Model.Summoner.accountId</h2>
<h2>summoner id: @Model.Summoner.id</h2>
@foreach (var rank in Model.League)
{
    <h2>@rank.queueType</h2>
    <h2>@rank.tier</h2>
    <h2>@rank.rank</h2>
}

<h2>Main role @role</h2>
