@model EScouting.Models.PlayersIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>all Players</h2>

@if (!Model.Players.Any())
{
    <h2>No players yet.</h2>
}
else
{
    <table id="playersTable" class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Player</th>
                <th>Nationality</th>
                <th>Server</th>
                <th>Role</th>
                <th>EP</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var player in Model.Players)
            {
                var country = Model.Countries.SingleOrDefault(c => c.Id == player.CountryId);
                var region = Model.Regions.SingleOrDefault(c => c.Id == player.RegionId);
                var role = Model.Roles.SingleOrDefault(r => r.Id == player.RoleId);

                <tr>
                    <td>@Html.ActionLink(player.Name, "Details", "Player", new { id = player.Id}, null )</td>
                    <td>@country.Name</td>
                    <td>@region.Name</td>
                    <td>@role.Name</td>
                    <td>@player.EPoints.ToString("#.#")</td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#playersTable").DataTable();

        });
    </script>
    }