@using EScouting.Models
@model EScouting.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2></h2>

<div class="page">
    <div class="row">
        <div class="col-8">
            <section id="loginForm">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Create a new account.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(m => m.user.UserTypeId, new { @class = "col-2 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(p => p.user.UserTypeId, new SelectList(Model.UserTypes, "Id", "Name"), "....", new { @class = "form-control", @id = "target-user-type" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.user.RegionId, new { @class = "col-2 control-label if-player" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(p => p.user.RegionId, new SelectList(Model.Regions, "Id", "Name"), "....", new { @class = "form-control if-player" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.user.RoleId, new { @class = "col-2 control-label if-player" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(p => p.user.RoleId, new SelectList(Model.Roles, "Id", "Name"), "....", new { @class = "form-control if-player" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.user.CountryId, new { @class = "col-2 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(p => p.user.CountryId, new SelectList(Model.Counties, "Id", "Name"), "....", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.user.SummonerName, new { @class = "col-2 control-label if-player" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.user.SummonerName, new { @class = "form-control if-player" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.user.Name, new { @class = "col-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.user.Name, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Register" />
                        </div>
                    </div>
                }
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
</div>
<div id="loading"></div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            console.log("hello");

            $('#target-user-type').change(function () {
                var id = $('#target-user-type').val(); // coach or player
                console.log(id);
                if (id == 2) {
                    //if user selects coach option
                    //hide player options
                    $('.if-player').hide();
                    console.log("coach");
                } else // if player selects player option
                {
                    $('.if-player').show();
                    console.log("player");
                }
            });
        });

    </script>
}
